<div nz-flex [nzJustify]="'flex-end'" style="margin-bottom: 1rem">
  <button nz-button nzType="default" (click)="onAddRow()">
    <span nz-icon nzType="plus"></span> เพิ่มนักเรียน
  </button>
</div>

<form [formGroup]="studentsForm">
  <nz-table
    #basicTable
    [nzFrontPagination]="false"
    [nzBordered]="true"
    [nzSize]="'middle'"
    [nzScroll]="{ x: '768px' }"
    [nzTemplateMode]="true"
  >
    <thead>
      <tr>
        <th>รูป</th>
        <th>รูปวงกลม</th>
        <th>คำนำหน้า</th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>ชื่อเล่น</th>
        <th>ลบ</th>
      </tr>
    </thead>
    <tbody formArrayName="students">
      <tr
        *ngFor="let studentForm of getStudentForms(); let i = index"
        [formGroupName]="i"
      >
        <td>
          <div class="image-container">
            <img
              *ngIf="students()[i].image"
              [src]="students()[i].image"
              class="student-image square-image"
              alt="รูปนักเรียน"
            />
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              class="upload-button"
              (click)="openImageUpload(i, false)"
              type="button"
              nz-tooltip
              nzTooltipTitle="อัปโหลดรูปนักเรียน"
            >
              <span nz-icon nzType="camera"></span>
            </button>
          </div>
        </td>
        <td>
          <div class="image-container">
            <img
              *ngIf="students()[i].imageRound"
              [src]="students()[i].imageRound"
              class="student-image round-image"
              alt="รูปวงกลม"
            />
          </div>
        </td>
        <td>
          <nz-select formControlName="prefix" style="width: 100%">
            <nz-option
              *ngFor="let option of prefixOptions"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </td>
        <td>
          <input nz-input formControlName="firstName" placeholder="ชื่อ" />
        </td>
        <td>
          <input nz-input formControlName="lastName" placeholder="นามสกุล" />
        </td>
        <td>
          <input nz-input formControlName="nickName" placeholder="ชื่อเล่น" />
        </td>
        <td>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nzShape="circle"
            (click)="deleteRow(i)"
            type="button"
          >
            <span nz-icon nzType="delete"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</form>
